:root {
    --hellgrau: #9E9E9E;
    --mittelgrau: #666666;
    --dunkelgrau: #333333;
    --abstandheader: 4.4vh;
}

@font-face {
    font-family: WorkSans;
    src: url(./fonts/WorkSans-Regular.ttf);
}
@font-face {
    font-family: Didact;
    src: url(./fonts/DidactGothic-Regular.ttf);
}
@font-face {
    font-family: Fjalla;
    src: url(./fonts/FjallaOne-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

/* header */

header {
    padding-top: 1.47vh;
    /* height: 200vh;  - ❔❕Trainer wenn du das ließt - bitte gib mir ein feedback warum ich dem header keine height geben kann - wenn ich die height vergebe rutscht die section danach bei bestimmter bildschirmgroesse in den header rein*/
    text-align: center;
}

header p {
    font-family: WorkSans, sans-serif;
    font-size: 2vh;
    margin-bottom: var(--abstandheader);
}

h1 {
    font-family: Didact, sans-serif;
    font-size: 10rem;
    letter-spacing: -2%;
    text-transform: uppercase;
    font-weight: lighter;
    margin-bottom: var(--abstandheader);
}

img {
    width: 52.2vw;
    margin-bottom: var(--abstandheader);
}

header a {
    font-family: WorkSans, sans-serif;
    font-size: 16rem;
    text-transform: uppercase;
    text-decoration: none;
    color: black;
    display: block;
    margin-bottom: 11.17vh;
}

header a:hover {
    text-shadow: 2px 2px var(--dunkelgrau);
}

/* section general */
p, h3, h4, article a {
    font-family: WorkSans, sans-serif;
}

.work a {
    font-family: Fjalla, sans-serif;
    font-size: 1.6rem;
    text-decoration: none;
    border: 2px solid;
    padding: 16px 26px;
}


/* section 1 - Orbis */

#orbis {
    height: 100vh;
    background: url(./img/portfolio2.jpg) center no-repeat;
    background-size: cover;
    color: white;
    padding-left: 15.5vw;
    padding-top: 11.5vw;
}

#orbis p {
    font-size: 2.3rem;
    color: var(--hellgrau);
    margin-bottom: 1.47vh;
    letter-spacing: -5%;
}

#orbis h2 {
    font-family: Didact, sans-serif;
    font-size: 11.2rem;
    text-transform: uppercase;
    font-weight: lighter;
    margin-bottom: 2.9vh;
}

#orbis h3 {
    font-size: 2rem;
    color: var(--hellgrau);
    margin-bottom: 10vh;
}

#orbis .number {
    font-family: Fjalla, sans-serif;
    font-size: 16.5rem;
    margin-left: 60vw;
    color: #9e9e9e6b;
}

#orbis a {
    color: white;
}

#orbis a:hover {
    background-color: white;
    border-color: white;
    color:black;
}

#orbis a:hover ~ .number{
    color: white;
}

/* section 2 - rollr */

#rollr {
    height: 120vh;
    background: url(./img/portfolio3.png) center no-repeat;
    background-size: cover;
    color: black;
    padding-left: 15.5vw;
    padding-top: 11.5vw;
}

#rollr p {
    font-size: 2.3rem;
    color: var(--mittelgrau);
    margin-bottom: 1.47vh;
    letter-spacing: -5%;
}

#rollr h2 {
    font-family: Didact, sans-serif;
    font-size: 11.2rem;
    text-transform: uppercase;
    font-weight: lighter;
    margin-bottom: 2.9vh;
}

#rollr h3 {
    font-size: 2rem;
    color: var(--mittelgrau);
    margin-bottom: 10vh;
}

#rollr .number {
    font-family: Fjalla, sans-serif;
    font-size: 16.5rem;
    margin-left: 60vw;
    color: #666666cd;
}

#rollr a {
    color: black;
}

#rollr a:hover {
    background-color: black;
    border-color: black;
    color: white;
}

#rollr a:hover ~ .number{
    color: black;
}

/* section 3 - Galito's */

#galitos {
    height: 100vh;
    background: url(./img/portfolio4.jpg) center no-repeat;
    background-size: cover;
    color: white;
    padding-left: 15.5vw;
    padding-top: 11.5vw;
}

#galitos p {
    font-size: 2.3rem;
    color: var(--hellgrau);
    margin-bottom: 1.47vh;
    letter-spacing: -5%;
}

#galitos h2 {
    font-family: Didact, sans-serif;
    font-size: 11.2rem;
    text-transform: uppercase;
    font-weight: lighter;
    margin-bottom: 2.9vh;
}

#galitos h3{
    font-size: 2rem;
    color: var(--hellgrau);
    margin-bottom: 10vh;
}

#galitos .number {
    font-family: Fjalla, sans-serif;
    font-size: 16.5rem;
    margin-left: 60vw;
    color: #9e9e9e6b;
}

#galitos a {
    color: white;
}

#galitos a:hover {
    background-color: white;
    border-color: white;
    color:black;
}

#galitos a:hover ~ .number{
    color: white;
}

/* section 4 - tretto */

#tretto {
    height: 120vh;
    background: url(./img/portfolio5.png) center no-repeat;
    background-size: cover;
    color: black;
    padding-left: 15.5vw;
    padding-top: 11.5vw;
}

#tretto p {
    font-size: 2.3rem;
    color: var(--mittelgrau);
    margin-bottom: 1.47vh;
    letter-spacing: -5%;
}

#tretto h2 {
    font-family: Didact, sans-serif;
    font-size: 11.2rem;
    text-transform: uppercase;
    font-weight: lighter;
    margin-bottom: 2.9vh;
}

#tretto h3 {
    font-size: 2rem;
    color: var(--mittelgrau);
    margin-bottom: 10vh;
}

#tretto .number {
    font-family: Fjalla, sans-serif;
    font-size: 16.5rem;
    margin-left: 60vw;
    color: #666666cd;
}

#tretto a {
    color: black;
}

#tretto a:hover {
    background-color: black;
    border-color: black;
    color: white;
}

#tretto a:hover ~ .number{
    color: black;
}

/* section - more */

.more {
    height: 100vh;
    color: white;
    background-color: black;
    padding-top: 10vh;
}

h4 {
    font-size: 18rem;
    font-weight: lighter;
    text-align: center;
    letter-spacing: -15px;
    margin-bottom: 15vh;

}

article {
    margin-left: 42vw;
    margin-right: 7vw;
}

article p {
    font-size: 2.2rem;
    color: var(--mittelgrau);
    line-height: 5vh;
    margin-bottom: 10vh;
}

article a {
    text-decoration: none;
    color: white;
    font-size: 6rem;
}

article a:hover {
    text-shadow: 2px 2px var(--hellgrau);
}

/* footer */

footer {
    font-family: Didact, sans-serif;
    font-size: 16rem;
    height: 200vh;
    text-align: center;
    padding-top: 20vh;
}

footer a {
    display: block;
    margin-bottom: 25vh;
    text-decoration: none;
    color: black;
}

footer a:hover {
    text-shadow: 2px 2px var(--dunkelgrau);
}

/* pulsing heart */

#wrapper {
	position: absolute;
  margin-left: 45vw;
  
    animation:pulse 1s infinite;
}


#pulsingheart { 
  position: relative; 
  width: 100px; 
  height: 90px;
} 

#pulsingheart:before, #pulsingheart:after { 
  position: absolute; 
  content: ""; 
  left: 50px; 
  top: 0; 
  width: 50px; 
  height: 80px; 
  background: var(--dunkelgrau); 
  border-radius: 50px 50px 0 0; 
  transform: rotate(-45deg);  
  transform-origin: 0 100%;
  animation:pulsecolor 1s infinite;
} 

#pulsingheart:after { 
  left: 0; 
  transform: rotate(45deg); 
  transform-origin :100% 100%;
  animation:pulsecolor 1s infinite;
}

@keyframes pulse {
	10% {transform: scale(1.1)}
}

@keyframes pulsecolor {
  10% {background: var(--hellgrau)}
}
